<!DOCTYPE html>
<html lang="ru">
<!-- Страница base.html вместо homepage.html созданная с наследованием шаблонов -->
<head>
{% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>{% block title %}ВШЭ. Проект "Петроглифы Пегтымеля"{% endblock %}</title>
  <!-- <link rel="stylesheet" href="{{  url_for ('static', filename='style.css') }}" >  -->
  <!--CSS only-->
  <link rel = "stylesheet"  href="{{ url_for ('static', filename='/css/main.css')}}">
  <link rel = "stylesheet" href="{{ url_for ('static', filename='/css/bootstrap.css')}}">
  <link rel = "stylesheet"  href="{{ url_for ('static', filename='/css/fontawesome.min.css')}}"> 
  <link rel = "stylesheet"  href="{{ url_for ('static', filename='/css/timeline.css')}}">
  <!-- <link rel="icon" href="data:;base64,="> -->
  <!-- <link rel = "stylesheet"  href="{{ url_for ('static', filename='/css/bootstrap.min.css')}}"> -->
  
  <!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">-->

<!-- {% raw %} -->
  <!--<link href="{{ {{ url_for ('static', filename='static/css/bootstrap.min.css')}} }}" rel="stylesheet">-->

  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <!-- <link rel="stylesheet" href="css/fontawesome.min.css"> -->

<!-- {% endraw %} -->
{% endblock %}
</head>

<body>
  <div>
  {% block header %}
    <!-- <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="/"><img class="deer" src="../static/img/deer2.png" />Лого Олень</a>
        </div>
      </div>
    </header> -->
  <!--БЛОК HEADER С НАВИГАЦИЕЙ-->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="col-4 text-center">
      <a class="blog-header-logo text-dark" href="/"><img class="deer" src="../static/img/deer.svg" /></a>
    </div>
    <div class="container-xxl">
      <p><a name="top" id="top"></a></p> <!--Флаг переключения с низа страницы наверх-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/research">Исследование</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#text">Петроглифы</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/graph">Визуализация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books">Библиография</a>
          </li>
          {#<li class="nav-item">
            <a class="nav-link" href="/base2">BASE</a>
          </li> #}
        </ul>
      </div>
    </div>
  </nav>
  {% endblock %}
  <!--БЛОК С ФОНОВОЙ КАРТИНКОЙ-->
  {% block content %}
  <p><a name="top" id="top"></a></p> <!--Флаг переключения с низа страницы наверх-->
  <div class = "container">
    <header class="site-header">
      <div class="centered">
        <h1>Петроглифы Пегтымеля – проект магистрантов НИУ ВШЭ по цифровой археологии, посвященный систематизации и анализу наскальных изображений северных оленей с помощью современных цифровых методов</h1>
      </div>
    </header>
  </div>
  <!-- и ТАЙМЛАЙНОМ-->
  <div class="container-xxl">
    <div class="row">
      <div class="col">
        <div class="timeline-steps aos-init aos-animate" data-aos="fade-up">
          <div class="timeline-step">
            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title=""
              data-content="topic" data-original-title="2003">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1">1965</p>
              <p class="h6 text-muted mb-0 mb-lg-0"><a href="#samorukov">Саморуков</a></p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title=""
              data-content="topic" data-original-title="2004">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1">1967-1968</p>
              <p class="h6 text-muted mb-0 mb-lg-0"><a href="#dikov">Диков</a></p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title=""
              data-content="topic" data-original-title="2005">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1">1986</p>
              <p class="h6 text-muted mb-0 mb-lg-0">Диков</p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title=""
              data-content="topic" data-original-title="2005">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1">1999-2000</p>
              <p class="h6 text-muted mb-0 mb-lg-0"><a href="#hermitage">Государственный Эрмитаж и ИИМК РАН</a></p>
            </div>
          </div>
          <div class="timeline-step">
            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title=""
              data-content="topic" data-original-title="2010">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1">2005-2008</p>
              <p class="h6 text-muted mb-0 mb-lg-0"><a href="#devlet">Дэвлет</a></p>
            </div>
          </div>
          <div class="timeline-step mb-0">
            <div class="timeline-content" data-toggle="popover" data-trigger="hover" data-placement="top" title=""
              data-content="topic" data-original-title="2020">
              <div class="inner-circle"></div>
              <p class="h6 mt-3 mb-1">2021-2022</p>
              <p class="h6 text-muted mb-0 mb-lg-0"><a href="#levanova">Леванова</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--ТЕКСТОВЫЙ ВСТУПИТЕЛЬНЫЙ БЛОК-->
  <section class="features">
    <p><a name="text"></a></p> <!--Флаг к nav-button Петроглифы-->
    <h1><b>Историческая справка</b></h1>
    <h2>Что такое петроглифы?</h2>
    <p class="description"> Петроглифы – это древние наскальные изображения. Обычно под петроглифами понимают наскальные рисунки со времен палеолита и почти до Средневековья. В основном это изображения животных и немного быта того времени (например, охота или пастбище). Петроглифы выбиваются или наносятся краской на каменной поверхности и распространены по всему миру. Крупные скопления петроглифов находятся в России, Кыргызстане, Франции, Испании и других странах. 
      Наш сайт посвящен самому северному и труднодоступному скоплению петроглифов в Евразии, который находится в долине реки Пегтымель, недалеко от места впадения в Северный Ледовитый океан.
      Петроглифы Пегтымеля встречаются на выступах скалы в диапазоне около одного километра и условно разделяются на 12 независимых скоплений (обозначаются римскими цифрами). Каждое скопление включает в себя определенное количество плоскостей с рисунками. 
      Для идентификации каждой плоскости используется следующий порядок записи: скопление-плоскость. Например, III-5 – где III – это номер скопления, а 5 – номер плоскости.      
    </p>
    <!-- <img class="deer" src="../static/img/deer2.png" /> Олень -->
  </section>
  <!--Информация об экспедициях-->
  <section class="expeditions">
    <h2>О памятнике</h2>
    <p class="expedition-list">
      <!-- навигация от таймлайна к разделу с информацией -->
      <p><a name="samorukov"></a></p> 
    <h3>1965 Находка Н.М. Саморукова</h3>
      <p>История открытия пегтымельских петроглифов неразрывно связано с историей исследования Чаун-Чукотки (северный район Чукотки), начиная с 1930-х годов. Тогда месторождений полезных ископаемых обнаружено не было, поэтому картографирование территорий началось лишь в 1950-х гг. В 1965 году в долине реки Пегтымель (в устье ручья Кээнейкууль) внимание геолога Николая Саморукова привлекли белые кварцевые жилы на коричневатой скале. Подобравшись поближе в поисках залежей золота (которого там так и не нашлось), он увидел выбитые на скалах древние рисунки и позднее написал о своей находке в Магаданскую лабораторию археологии, истории и этнографии АН СССР. Письмом заинтересовался археолог Николай Диков.
      </p>
      <p><a name="dikov"></a></p>
    <h3>1967-1968 Экспедиции Н.Н. Дикова</h3>
    <!-- <p><a name="dikov" id="dikov"></a></p> -->
      <p>В 1967-1968 годах петроглифы на реке Пегтымель впервые изучила археологическая экспедиция под руководством Николая Дикова, который описал 103 композиции в 11 скоплениях на скальных выступах. Однако, как это часто бывает на крупных местонахождениях, при первичном обследовании были выявлены далеко не все изображения. 
      </p>
    <h3>1986 Экспедиция Н.Н. Дикова</h3>
    <p>Следующая экспедиция под руководством Николая Дикова открыла новые изображения.
    </p>
    <p><a name="hermitage"></a></p>
    <h3>1999-2000 Экспедиция Эрмитажа и ИИМК РАН</h3>
      <p>В результате работы экспедиции Эрмитажа и Института истории материальной культуры РАН были открыты новые плоскости в пределах уже известных скоплений, а также было открыто XII скопление. Общее количество плоскостей увеличилось почти в 1,5 раза.
      </p>
      <p><a name="devlet"></a></p>
    <h3>2005-2008 Экспедиции Дэвлет</h3>
      <p>В 2005–2008 годах экспедиция ИА РАН под руководством Екатерины Дэвлет исследовала памятник. Археологи отчистили поверхности с петроглифами от мха и лишайников, провели трасологические исследования и создали факсимильные копии поверхностей с рисунками. Тщательное обследование всех скальных выходов, даже тех, на которых, на первый взгляд, не было петроглифов, очистка поверхностей и изучение труднодоступных участков позволило найти новые изображения. Количество известных плоскостей с петроглифами превысило 340.
      </p>
      <p><a name="levanova"></a></p>
    <h3>2021-2022 Экспедиции Е.С. Левановой</h3>
      <p>В 2021 году Петроглифический отряд Института археологии РАН под руководством Елены Левановой прибыл на памятник. Основными задачами ученых были мониторинг состояния сохранности памятника и его документирование на новом методологическом уровне с использованием фотограмметрии и спутниковой геодезии. Кроме сотрудников ИА РАН, в отряд вошли участники экспедиций на Пегтымель 2000-х годов, специалисты Лаборатории RSSDA и волонтеры Комитета по охране объектов культурного наследия Чукотского автономного округа.
      Еще предыдущие исследования показали, что постоянные перепады температуры, вода, которая замерзает и оттаивает в трещинах скал, постепенно разрушают скалы с петроглифами. В итоге некоторые камни сползают вниз по скале, обрушиваются, а воды реки Пегтымель заиливают и скрывают камни с изображениями. Также новое обследование добавило к списку природных факторов и антропогенное воздействие: на скалах появились новые вандальные надписи.      
      </p>
  </section>
  {% endblock %}
    <!-- </p> -->
  <!-- </section> -->
  <p><a href="#top" id="top">Наверх</a></p> <!--Флаг навигации-->

  <!--БЛОК ФУТЕРА-->
  <footer class="site-footer">
  {% block footer %}
    <div class="container-fluid">
      <p class="copy">© Магистры МЦМГН. НИУ ВШЭ, 2022-2023</p>
      <p>Петроглифы Пегтымеля</p>
    </div>
  {% endblock %}
  </footer>
</body>
</html>