{% extends "base.html" %}
{% block head %}
<meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}"Петроглифы Пегтымеля". Библиография {% endblock %}</title>
  <!-- <link rel="stylesheet" href="{{  url_for ('static', filename='style.css') }}" >  -->
  <!--CSS only-->
  <link rel = "stylesheet"  href="{{ url_for ('static', filename='/css/main.css')}}">
  <link rel = "stylesheet" href="{{ url_for ('static', filename='/css/bootstrap.css')}}">
  <link rel = "stylesheet"  href="{{ url_for ('static', filename='/css/fontawesome.min.css')}}"> 
  <link rel = "stylesheet"  href="{{ url_for ('static', filename='/css/timeline.css')}}">
  <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" /> -->
  <!-- <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
  <!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"> </script>
   <script type="text/javascript" src="/csvjson.json"></script>
    <script type="text/javascript" >
      // ФУНКЦИЯ ОТКРЫТИЯ ФАЙЛА JSON
       function load() {
            var mydata = JSON.parse(data);
            alert(mydata.length);
            var div = document.getElementById('data');

            for(var i = 0;i < mydata.length; i++)
            {
               div.innerHTML = div.innerHTML + "<li class='list-group-item' id="+i+">"+ mydata[i].name +"</li>";
               //<a href="${item.url}" class="list-group-item">${item.name}</a>
            }
        }
    </script> -->
{% endblock %}
<body>
  <div>
{% block header %}
    <!-- <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="/"><img class="deer" src="../static/img/deer2.png" /></a>
        </div>
      </div>
    </header> -->
  <!--БЛОК HEADER С НАВИГАЦИЕЙ-->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="col-4 text-center">
      <a class="blog-header-logo text-dark" href="/"><img class="deer" src="../static/img/deer.svg" /></a>
    </div>
    <div class="container-xxl">
      <p><a name="top" id="top"></a></p> <!--Флаг переключения с низа страницы наверх-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="step" href="/research">Исследование</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/graph">Визуализация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/aboutus">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/books">Библиография</a>
          </li>
          {#<li class="nav-item">
            <a class="nav-link" href="/base2">BASE</a>
          </li> #}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content %}
<!-- Меню управления сортировкой -->
  <div class = "container">
    <p> Сортировка списка по алфавиту (нажатие второй раз сортирует список в обратном порядке)</p>
      <button class = 'button_sort' onclick = sortListDir()> Сортировать </button>
  </div>
  <!-- Список книг -->
  {% block bookslib %}
  <div class="container">
    <ul class="list-group list-group-flush" id = "id01">
      <li>
        <a href="https://cyberleninka.ru/article/n/obsledovanie-naskalnyh-izobrazheniy-na-reke-pegtymel-chukotka-v-2021-godu-rezultaty-monitoringa-i-sostoyanie-sohrannosti" class="list-group-item">Леванова Е. С., Мухарева А. Н., Бове Л. Л. ОБСЛЕДОВАНИЕ НАСКАЛЬНЫХ ИЗОБРАЖЕНИЙ НА РЕКЕ ПЕГТЫМЕЛЬ (ЧУКОТКА) В 2021 ГОДУ: РЕЗУЛЬТАТЫ МОНИТОРИНГА И СОСТОЯНИЕ СОХРАННОСТИ //Ученые записки музея-заповедника «Томская Писаница». – 2022. – №. 15. – С. 59-70.</a>
        </li><li>
        <a href="http://paeas.ru/x/ru/2022/2022_0606-0612.pdf" class="list-group-item">Леванова Е. С. и др. Исследование петроглифов на реке Пегтымель в 2022 году.</a>    </li><li>
        <a href="https://www.elibrary.ru/item.asp?id=47987672" class="list-group-item">Христофорова В. С. Изобразительные и технологические традиции нанесения петроглифов (на примере петроглифов р. Пегтымель) //Научно-практическая реализация творческого потенциала молодежи. – 2021. – С. 263-270.</a>
        </li><li>
        <a href="https://www.elibrary.ru/item.asp?id=48248246" class="list-group-item">Зиганшина А. А. Современные методы документирования в условиях Крайнего Севера: 
    опыт экспедиции Института археологии по изучению наскальных рисунков на р. Пегтымель (Чукотский автономный округ) //Актуальная археология 6. – 2022. – С. 277-280.</a>
        </li><li>
        <a href="https://www.elibrary.ru/item.asp?id=22690969" class="list-group-item">Дэвлет Е. Г., Миклашевич Е. А., Слободзян М. Б. Исследования петроглифов на р. Пегтымель в 2005 г //Пегтымельская тетрадь. – 2006. – С. 9-13.</a>
        </li><li>
        <a href="нет" class="list-group-item">Дэвлет Е.Г., Миклашевич Е.А., Мухарева А.Н. Материалы к своду петроглифов Чукотки (изображения в скоплениях I–III на Кайкуульском обрыве) // Изобразительные и технологические традиции в искусстве Северной и Центральной Азии. – М.; Кемерово: Кузбассвузиздат, 2012. – С. 203–283</a>    
        </li><li>
        <a href="https://libarch.nmu.org.ua/handle/GenofondUA/46619" class="list-group-item">Диков Н.Н. Наскальные загадки древней Чукотки. Петроглифы Пегтымеля. – М.: Наука, 1971.</a>
        </li><li>
        <a href="нет" class="list-group-item">Диков Н.Н. Пегтымельские петроглифы – уникальный археологический памятник Заполярной Чукотки // Наскальные рисунки Евразии. – Новосибирск: Наука, 1992. – С. 44–49.</a>
        </li><li>
        <a href="https://www.elibrary.ru/item.asp?id=21412385" class="list-group-item">Дэвлет Е. Г., Миклашевич Е. А., Слободзян М. Б. Исследования петроглифов на р. Пегтымель в 2005 г //Пегтымельская тетрадь. – 2006. – С. 9-13.</a>
        </li><li>
        <a href="https://www.archaeolog.ru/media/books_2011/Devlet_2011.pdf" class="list-group-item">Дэвлет Е. Г., Дэвлет М. А. Сокровища наскального искусства Северной и центральной Азии. – 2011.</a>
        </li><li>
        <a href="http://journal.asu.ru/tpai/article/view/12381" class="list-group-item">Свойский Ю. М., Аболонкова И. В., Леванова Е. С. ПРОБЛЕМЫ ИНДЕКСАЦИИ В ДОКУМЕНТИРОВАНИИ И КАРТОГРАФИРОВАНИИ МЕСТОНАХОЖДЕНИЙ НАСКАЛЬНОГО ИСКУССТВА //Теория и практика археологических исследований. – 2022. – Т. 34. – №. 4. – С. 9-24.</a>       
        </li><li>
        <a href="https://www.elibrary.ru/item.asp?id=44798349" class="list-group-item">Заика А. Л. Методика полевых исследований петроглифов: учеб.-метод. пособие. Новосибирск : Новосибирский государственный университет, 2006. 43 с.</a>
        </li><li>
        <a href="нет" class="list-group-item">Шер Я. А. Петроглифы Средней и Центральной Азии. М. : Наука, 1980. 328 с.</a>
        </li><li>
        <a href="https://www.elibrary.ru/item.asp?id=23886722" class="list-group-item">Дэвлет, М. А. Проблемы консервации и реставрации памятников наскального искусства в СССР / М. А. Дэвлет, Е. Г. Дэвлет</a>
        </li><li>
        <a href="https://newarchaeology.nsu.ru/department-archeology-and-ethnography/uchebno-metodicheskie-posobiya/%D0%97%D0%BE%D1%82%D0%BA%D0%B8%D0%BD%D0%B0_%D0%9D%D0%B0%D1%81%D0%BA%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B5%20%D0%B8%D1%81%D0%BA%D1%83%D1%81%D1%81%D1%82%D0%B2%D0%BE%20%D0%95%D0%B2%D1%80%D0%B0%D0%B7%D0%B8%D0%B8_2018.docx" class="list-group-item">Зоткина Л. В. Наскальное искусство Северной Азии: Учебно-методический комплекс. – 2012.</a>
        </li><li>
        <a href="https://cyberleninka.ru/article/n/vozmozhnosti-fiksatsii-petroglifov-dlya-trasologicheskogo-izucheniya-k-istoriografii-voprosa" class="list-group-item">Зоткина Л. В. Возможности фиксации петроглифов для трасологического изучения (к историографии вопроса) //Вестник Новосибирского государственного университета. Серия: История. Филология. – 2014. – Т. 13. – №. 3. – С. 16-26.</a>
        </li><li>
        <a href="https://aa.uwpress.org/content/47/2/22.short" class="list-group-item">Бланд Р.Л. Еще один взгляд на пегтымельские петроглифы // Арктическая антропология. – 2010. – Т. 47. – №. 2. – С. 22-31.</a>
        </li><li>
        <a href="http://old.archaeology.nsc.ru/ru/publish/journal/doc/2000/2/2000_022_077-087.pdf" class="list-group-item">Шер Я. А. Первобытное искусство: факты, гипотезы, методы и теория //Археология, этнография и антропология Евразии. – 2000. – №. 2. – С. 77-87.</a>
        </li><li>
        <a href="http://www.archeo.ru/izdaniya-1/pazhmi-pajis/issues/texts/pdf/06Klein.pdf" class="list-group-item">Клейн Л. С. Место палеолитического искусства в эволюции изобразительной деятельности.</a>
        </li><li>
        <a href="https://www.elibrary.ru/item.asp?id=20199110" class="list-group-item">Шер Я. А. Первобытное искусство. – 2006.</a>
        </li><li>
        <a href="нет" class="list-group-item">Шер Я. А. Алгоритм распознавания стилистических типов в петроглифах (к теории стиля в первобытном искусстве) //Математические методы в историко-экономических и историко-культурных исследованиях. – 1977. – С. 127-143.</a>
        </li><li>
        <a href="нет" class="list-group-item">Бледнова Н. С. и др. Первобытное искусство: проблема происхождения. – 1998.</a>
        </li><li>
        <a href="нет" class="list-group-item">Шер А. Я. Спорные вопросы изучения первобытного искусства //Археология, этнография и антропология Евразии. – 2004. – №. 2. – С. 36-52.</a>
        </li><li>
        <a href="https://www.sciencedirect.com/science/article/abs/pii/0168583X88903023" class="list-group-item">Уитли Д.С., Дорн Р.И. Датирование петроглифов по соотношению катионов с использованием PIXE // Ядерные приборы и методы в физических исследованиях Раздел B: Взаимодействие пучков с материалами и атомами. – 1988. – Т. 35. – №. 3-4. – С. 410-414.</a>
        </li><li>
        <a href="https://libarch.nmu.org.ua/handle/GenofondUA/42771" class="list-group-item">Гарден Ж. К. Теоретическая археология. – 1983.</a>
        </li><li>
        <a href="https://cyberleninka.ru/article/n/informativnye-priznaki-izobrazheniy-naskalnyh-risunkov-razlichnyh-stran" class="list-group-item">Кязим К. З. А. ИНФОРМАТИВНЫЕ ПРИЗНАКИ ИЗОБРАЖЕНИЙ НАСКАЛЬНЫХ РИСУНКОВ РАЗЛИЧНЫХ СТРАН //Евразийский Союз Ученых. – 2020. – №. 7-1 (76). – С. 47-51.</a>
        </li><li>
        <a href="https://cyberleninka.ru/article/n/izobrazheniya-lodok-severnoy-evrazii" class="list-group-item">Куликова А. С. Изображения лодок Северной Евразии //Вестник Кемеровского государственного университета. – 2014. – Т. 2. – №. 2 (58). – С. 58-69.</a>
        </li><li>
        <a href="https://cyberleninka.ru/article/n/ob-izobrazheniyah-severnyh-oleney-v-naskalnom-iskusstve-chukotki" class="list-group-item">Дэвлет Е. Г. Об изображениях северных оленей в наскальном искусстве Чукотки //Проблемы истории, филологии, культуры. – 2012. – №. 1 (35). – С. 153-157.</a>
        </li><li>
        <a href="http://old.archaeology.nsc.ru/ru/publish/journal/doc/2009/382/10.pdf" class="list-group-item">Савинов Д. Г. Некоторые аспекты теоретического изучения 
    петроглифов (по материалам Центральной Азии и Южной Сибири) //Археология, этнография и антропология Евразии. – 2009. – №. 2. – С. 92-103.</a>
        </li><li>
        <a href="https://elibrary.ru/item.asp?id=43137904" class="list-group-item">Леванова Е. С., Хлопачев Г. А., Гаврилов К. Н. Знаки и образы в искусстве каменного 
    века.(Международная конференция) //Camera Praehistorica. – 2020. – №. 1. – С. 156-157.</a>
        </li><li>
        <a href="https://www.google.com/books?hl=ru&lr=&id=s0z6AgAAQBAJ&oi=fnd&pg=PA3&dq=%D0%B1%D0%BE%D0%B3%D0%BE%D1%80%D0%B0%D0%B7+%D1%87%D1%83%D0%BA%D1%87%D0%B8&ots=q78VtSUnFD&sig=OLN_-ACAbzltCA1xejz_40c6edE" class="list-group-item">Богораз В. Чукчи. – Рипол Классик, 2013.</a>
        </li><li>
        <a href="https://elibrary.ru/item.asp?id=19726305" class="list-group-item">Богораз В. Г. Чукчи. Религия. – URSS, 2010.</a>
        </li><li>
        <a href="нет" class="list-group-item">Богораз В. Г. Материальная культура чукчей: Авториз. пер. с англ. – Наука, 1991.</a>
        </li><li>
        <a href="https://www.archeo.ru/izdaniya-1/rossiiskii-arheologicheskii-ezhegodnik/vypuski-ezhegodnika/pdf/22RAE56Kuzmin.pdf" class="list-group-item">Кузьмин Я. 
    В. Новый источник по археологии и хронологии неоэскимосских культур Берингоморья //Российский археологический ежегодник. – 2016. – №. 5-6. – С. 275-278.</a>       
        </li><li>
        <a href="https://cyberleninka.ru/article/n/ob-issledovanii-tehniki-vypolneniya-izobrazheniy-na-skalah" class="list-group-item">Гиря Е. Ю., Дэвлет Е. Г. Об исследовании техники выполнения изображений на скалах //Проблемы истории, филологии, культуры. – 2012. – №. 1 (35). – С. 158-178.</a>
        </li><li>
        <a href="https://www.academia.edu/download/34961393/%D0%93%D0%B8%D1%80%D1%8F__%D0%94%D1%8D%D0%B2%D0%BB%D0%B5%D1%82_%D0%BC%D0%B5%D1%82%D0%BE%D0%B4%D0%B8%D0%BA%D0%B8_%D0%B8%D0%B7%D1%83%D1%87.pdf" class="list-group-item">Гиря Е. Ю., Дэвлет Е. Г. Некоторые результаты разработки методики изучения техники выполнения петроглифов пикетажем //Уральский исторический вестник. – 2010. – №. 1. – С. 107-118.</a>
        </li><li>
        <a href="https://cyberleninka.ru/article/n/eksperimentalnoe-modelirovanie-kak-metod-izucheniya-naskalnogo-iskusstva-k-istoriografii-problemy" class="list-group-item">Зоткина Л. В. Экспериментальное моделирование как метод изучения наскального искусства (к историографии проблемы) //Вестник Новосибирского государственного 
    университета. Серия: История. Филология. – 2013. – Т. 12. – №. 5. – С. 59-66.</a>
        </li><li>
        <a href="https://lib.nsu.ru/xmlui/handle/nsu/664?locale-attribute=en" class="list-group-item">Рудая Н. А. Методы естественных наук в археологии: Учебно-методический комплекс. – 2013.</a>
        </li><li>
        <a href="https://bulletin-history.kaznu.kz/index.php/1-history/article/view/280" class="list-group-item">Сойкин Н., Бейсегулова А. МЕТОДЫ ЕСТЕСТВЕННЫХ НАУК В ДАТИРОВАНИИ ПАМЯТНИКОВ НАСКАЛЬНОГО ИСКУССТВА //Вестник КазНУ. Серия историческая. – 2018. – Т. 90. – №. 3. – С. 193-198.</a>
        </li><li>
        <a href="https://elibrary.ru/item.asp?id=13856713" class="list-group-item">Гайдуков П. Г. и др. II (XVIII) Всероссийский археологический съезд в Суздале //Российская археология. – 2009. – №. 3. – С. 171-178.</a>
        </li><li>
        <a href="https://www.google.com/books?hl=ru&lr=&id=0D36AgAAQBAJ&oi=fnd&pg=PA3&dq=%D0%B8%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F+%D1%87%D1%83%D0%BA%D0%BE%D1%82%D0%BA%D0%B8+%D0%B4%D0%B8%D0%BA%D0%BE%D0%B2&ots=b29aMKjHIa&sig=qdpcvLbwfd_ruH6gD509V9TQgbc" class="list-group-item">Диков Н. Н. История Чукотки. – Рипол Классик, 1989.</a>
        </li><li>
        <a href="https://www.google.com/books?hl=ru&lr=&id=1eX8AgAAQBAJ&oi=fnd&pg=PA5&dq=%D0%B8%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F+%D1%87%D1%83%D0%BA%D0%BE%D1%82%D0%BA%D0%B8+%D0%B4%D0%B8%D0%BA%D0%BE%D0%B2&ots=obRdv6vHqO&sig=8sIayyNzn-Kb7JySwEseCTDrDhA" class="list-group-item">Диков Н. Н. Археологические памятники Камчатки, Чукотки и Верхней Колымы. – Рипол Классик, 1977.</a>
        </li><li>
        <a href="https://www.google.com/books?hl=ru&lr=&id=Y1b-AgAAQBAJ&oi=fnd&pg=PA159&dq=%D0%B8%D1%81%D1%82%D0%BE%D1%80%D0%B8%D1%8F+%D1%87%D1%83%D0%BA%D0%BE%D1%82%D0%BA%D0%B8+%D0%B4%D0%B8%D0%BA%D0%BE%D0%B2&ots=wgg-022v5U&sig=a_3-IM51IcqIDAJP-8CERl-5PHc" class="list-group-item">Диков Н. Н. Древние костры Камчатки и Чукотки. – Рипол Классик, 2013.</a>
        </li><li>
        <a href="https://cyberleninka.ru/article/n/etnograficheskie-problemyv-nauchno-issledovatelskoy-programme-n-n-dikova" class="list-group-item">Хаховская Л. Н. Этнографические проблемыв научно-исследовательской программе НН Дикова //Проблемы истории, филологии, культуры. – 2017. – №. 1 (55). – С. 304-318.</a>
        </li><li>
        <a href="https://elibrary.ru/item.asp?id=37212831" class="list-group-item">Шер Я. А. Дэвлет ЕГ, Дэвлет МА Мифы в камне. Мир наскального искусства России. М.: Алетейа, 2005.-471 с., 216 цв. ил., 273 ч.-б. ил //Вестник Российского гуманитарного научного фонда. – 2006. – №. 4. – С. 219-223.</a>
        </li><li>
        <a href="https://cyberleninka.ru/article/n/mifologicheskie-syuzhety-v-naskalnom-iskusstve-severnoy-evrazii" class="list-group-item">Дэвлет Е. Г., Дэвлет М. А. 
    Мифологические сюжеты в наскальном искусстве Северной Евразии //Вестник Тувинского государственного университета. Социальные и гуманитарные науки. – 2014. – №. 1. 
    – С. 7-19.</a>
        </li><li>
        <a href="https://cyberleninka.ru/article/n/etnograficheskie-istochniki-v-arheologicheskoy-trasologii-vozmozhnosti-mezhdistsiplinarnogo-podhoda-pri-analize-kamennyh-industriy" class="list-group-item">Федорченко А. Ю. Этнографические источники в археологической трасологии: возможности междисциплинарного подхода при анализе каменных индустрий Севера Дальнего Востока //Вестник археологии, антропологии и этнографии. – 2014. – №. 1 (24). – С. 78-83.</a>
        </li><li>
        <a href="https://cyberleninka.ru/article/n/k-voprosu-o-konstruktivnyh-osobennostyah-zhilisch-drevnih-eskimosov-po-materialam-arheologii-etnografii-i-izobrazitelnym-istochnikam" class="list-group-item">Днепровский К. А., Дэвлет Е. Г. К вопросу о конструктивных особенностях жилищ древних эскимосов по материалам археологии, этнографии и изобразительным источникам //Проблемы истории, филологии, культуры. – 2017. – №. 3 (57). – С. 210-251.</a>
        </li><li>
        <a href="нет" class="list-group-item">Меновиуиков Г. А. Сказки и мифы народов Чукотки и Камчатки (Сказки и мифы народов Востока).</a>
        </li><li>
        <a href="http://publishing-vak.ru/file/archive-culture-2017-2/45-rudenko.pdf" class="list-group-item">Руденко А. И. Об интерпретации некоторых геометрических узоров в орнаментике коренных народов Камчатки и Чукотки (коряки, ительмены, чукчи и эскимосы) //Culture and Civilization. – 2017. – Т. 7. – С. 467.</a>
        </li><li>
        <a href="https://cyberleninka.ru/article/n/l-f-grinevetskiy-o-kulture-i-byte-anadyrskih-chukchey-v-kontse-xix-veka" class="list-group-item">Тарасенко Д. Б. ЛФ 
    Гриневецкий о культуре и быте анадырских чукчей в конце XIX века //Известия Российского государственного педагогического университета им. АИ Герцена. – 2009. – №. 
    96. – С. 62-66.</a>
        </li><li>
        <a href="https://elibrary.ru/item.asp?id=19126642" class="list-group-item">Дэвлет Е. Г. и др. Пегтымельская тетрадь. – 2006.</a>
        </li><li>
        <a href="https://elibrary.ru/item.asp?id=23945132" class="list-group-item">Дэвлет Е. Г., Миклашевич Е. А., Мухарева А. Н. Новейшие полевые исследования петроглифов Чукотки //Вестник Российского гуманитарного научного фонда. – 2009. – №. 3. – С. 213-223.</a>
        </li><li>
        <a href="https://www.archeo.ru/izdaniya-1/rossiiskii-arheologicheskii-ezhegodnik/vypuski-ezhegodnika/pdf/04RAE4Kuzmin_Dikova.pdf" class="list-group-item">Кузьмин Я. В., Дикова М. А. Хронология позднеплейстоценовых археологических памятников Северо-Восточной Сибири //Российский археологический ежегодник.-СПб.: Университетский издательский консорциум. – 2014. – №. 4. – С. 8-22.</a>
        </li><li>
        <a href="https://link.springer.com/article/10.1007/s10816-021-09518-6" class="list-group-item">Хорн С. и соавт. Искусственный интеллект, 3D-документация и наскальное искусство — подход к автоматизации идентификации и классификации изображений наскального искусства и размышления // Журнал археологического метода и теории. – 2021. – С. 1-26.</a>
        </li><li>
        <a href="https://elibrary.ru/item.asp?id=47184157" class="list-group-item">Савинов Д. Г. НА ПУТИ РАСКРЫТИЯ СОДЕРЖАНИЯ ПАМЯТНИКОВ НАСКАЛЬНОГО ИСКУССТВА //Древнее искусство в контексте культурно-исторических процессов Евразии. – 2021. – С. 238-248.</a>
        </li><li>
        <a href="https://elibrary.ru/item.asp?id=24808062" class="list-group-item">Зинченко С. А. Петроглифы как возможный стилистический прототип для формирования памятников раннескифского искусства //Мир наскального искусства. – 2005. – С. 116-117.</a>
        </li><li>
        <a href="нет" class="list-group-item">Подольский, Н. Л. О принципах датирования наскальных изображений / Н. Л. Подольский // СА. - 1973. - №3. - С. 265-275.</a>
        </li><li>
        <a href="https://elibrary.ru/item.asp?id=36726241" class="list-group-item">Васильев А. Г., Васильева И. А., Шкурихин А. О. Геометрическая морфометрия: от теории к практике. – Общество с ограниченной ответственностью Товарищество научных изданий КМК, 2018.</a>
        </li><li>
        <a href="https://www.researchgate.net/profile/Markus-Seidl-2/publication/312219449_Computational_Analysis_of_Petroglyphs/links/58774e6408aebf17d3bb8585/Computational-Analysis-of-Petroglyphs.pdf" class="list-group-item">Зайдл М. Компьютерный анализ петроглифов: дис. – Вена, 2016.</a>
        </li><li>
        <a href="https://link.springer.com/chapter/10.1007/978-3-319-23784-8_16" class="list-group-item">Деуфемия В. и соавт. Мобильное приложение для поддержки археологов в классификации и распознавании петроглифов // Расширение возможностей организаций: активация платформ и артефактов. – Springer International Publishing, 2016. – С. 199-211.</a>
        </li><li>
        <a href="https://link.springer.com/chapter/10.1007/978-3-319-16178-5_9" class="list-group-item">Зайдл М. и соавт. Графическое сходство формы петроглифов //Computer Vision-ECCV 2014 Workshops: Zurich, Switzerland, 6-7 и 12 сентября 2014, Proceedings, Part I 13. – Springer International Publishing, 2015. – С. 133-148.</a> 
        </li><li>
        <a href="https://link.springer.com/article/10.1007/s10618-010-0200-z" class="list-group-item">Чжу К. и соавт. Эффективная и действенная мера подобия для обеспечения интеллектуального анализа данных петроглифов // Интеллектуальный анализ данных и обнаружение знаний. – 2011. – Т. 23. – С. 91-127.</a>
        </li><li>
        <a href="https://naukarus.com/k-voprosu-o-tehniko-tehnologicheskih-osobennostyah-petroglifov-pegtymelya" class="list-group-item">Дэвлет Е. Г. К вопросу о технико-технологических особенностях петроглифов Пегтымеля //Российская археология. – 2014. – №. 3. – С. 66-78.</a>
        </li><li>
        <a href="http://rockart-studies.ru/pdf/Devlet,%20Girya.%20Izobraz%20plast_2011.pdf" class="list-group-item">Дэвлет Е. Г., Гиря Е. Ю. "Изобразительный пласт" в 
    наскальном искусстве и исследование техники выполнения петроглифов Северной Евразии //Тр. САИПИ. – 2011. – №. 7. – С. 186-201.</a>
        </li><li>
        <a href="http://inion.ru/site/assets/files/6023/bu_istoriia_2021-2.pdf" class="list-group-item">Дэвлет Е. Г. и др. Исследования пегтымельского петроглифа с помощью комплекса естественнонаучных методов в НИЦ" Курчатовский институт" //Изобразительные и технологические традиции ранних форм искусства (2). – 2019. – С. 59-70.</a>
        </li><li>
        <a href="https://cnbdvorep.elpub.ru/xmlui/handle/123456789/627" class="list-group-item">Диков Н. Н. Древние культуры Северо-Восточной Азии: Азия на стыке с Америкой в древности. – 1979.</a>
        </li><li>
        <a href="https://www.youtube.com/watch?v=YEExL9Xq124" class="list-group-item">Фильм "Петроглифы Пегтымеля: Наскальное искусство Чаун-Чукотки". Центр палеоискусства ИА РАН, 2023.</a>
        </li><li>
        <a href="https://www.youtube.com/watch?v=TUGeHaX1YFk" class="list-group-item">Фильм "Экспедиция петроглифического отряда ИА РАН на р. Пегтымель" Центр палеоискусства ИА РАН, 2021</a>
        </li><li>
        <a href="https://journals.ub.uni-heidelberg.de/index.php/dah/article/view/75953" class="list-group-item">Bönisch D. The curator’s machine: clustering of museum collection data through annotation of hidden connection patterns between artworks //International Journal For Digital Art History. – 2020. – №. 5. – С. 5.20-5.35.</a>
      </li>
    </ul>
  </div>
    {% endblock %}
{#ФУНКЦИЯ СОРТИРОВКИ СПИСКА КНИГ#}
    <script>
      function sortListDir() {
        var list, i, switching, b, shouldSwitch, dir, switchcount = 0;
        list = document.getElementById("id01");
        switching = true;
        //сортировка по алфавитному порядку
        dir = "asc"; 
        while (switching) {
          switching = false;
          b = list.getElementsByTagName("A");
          // проходимся по всем элементам списка
          for (i = 0; i < (b.length - 1); i++) {
            shouldSwitch = false;
            if (dir == "asc") {
              if (b[i].innerHTML.toLowerCase() > b[i + 1].innerHTML.toLowerCase()) {
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (b[i].innerHTML.toLowerCase() < b[i + 1].innerHTML.toLowerCase()) {
                shouldSwitch= true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            b[i].parentNode.insertBefore(b[i + 1], b[i]);
            switching = true;
            switchcount ++;
          } else {
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }
    </script>
 {% endblock %}
  </div>
</body>