{% extends "base.html" %}
{% block header %}
    <!-- <header class="blog-header py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 text-center">
          <a class="blog-header-logo text-dark" href="/"><img class="deer" src="../static/img/deer2.png" /></a>
        </div>
      </div>
    </header> -->
  <!--БЛОК HEADER С НАВИГАЦИЕЙ-->
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="/"><img class="deer" src="../static/img/deer.svg" /></a>
    </div>
    <div class="container-xxl">
      <p><a name="top" id="top"></a></p> <!--Флаг переключения с низа страницы наверх-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- <li class="nav-item">
            <a class="navbar-brand" href="#">
                <img src="../static/img/deer.svg" alt="Bootstrap" width="5" height="5">
            </a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" aria-current="step" href="/research">Исследование</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/graph">Визуализация</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/aboutus">О нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/books">Библиография</a>
          </li>
          {#<li class="nav-item">
            <a class="nav-link" href="/base2">BASE</a>
          </li> #}
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}
{% block content %}
<!-- Вступительный текст !!!!! ВНЕСТИ ИЗМЕНЕНИЯ -->
    <section class="expedition text-center">
        <h2>О нас</h2>
        <p>
            Мы – магистранты НИУ ВШЭ (Москва), обучающиеся на программе «Цифровые методы в гуманитарных науках» (Digital Humanities). В рамках обучения нас объединили в команду под руководством Павла Лебедева с целью сделать цифровой продукт в области наскальной живописи. Нам на помощь пришли сотрудники Института археологии РАН Елена Леванова и Юрий Свойский, которые только вернулись из плодотворной чукотской экспедиции и предложили нам оригинальный исследовательский материал. В нашем распоряжении оказались прорисовки поверхностей скал в долине реки Пегтымель (Чукотка) с изображениями людей, лодок, животных (и даже вертолетов). Больше всего наше внимание привлекли изображения северных оленей. Во-первых, это самый часто встречающийся образ (мы насчитали аж 723 оленя). Во-вторых, они разные и могут нести в себе много информации (датировка, время года, культура). Именно поэтому наша команда взяла курс на систематизацию и анализ наскальных изображений северных оленей с помощью современных цифровых методов.
        </p>
    </section>
    <!--О НАС-->
    <div class="container-fluid text-center">
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static//img/ahmed.jpg" />
            </div>
            <h5 class="name">Магомедов Ахмед</h5>
            <p>Окончил НИЯУ МИФИ в 2013 по направлению «Международные отношения». Интересуюсь прикладными политическими исследованиями и прикладной лингвистикой (дагестанские языки).</p>
            <p>Электронный адрес: akhmed1@yandex.ru</p>
        </div>
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static/img/marusya.jpg" />
            </div>
            <h5 class="name">Сысоева Мария</h5>
            <p>Окончила бакалавриат НИУ ВШЭ по направлению “История искусств”. Интересуюсь внедрением цифровых методов в культурно-исторических исследованиях.</p> 
            <p>Электронный адрес: marusya.sysoeva@gmail.com</p>
        </div>
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static//img/nastya.jpg" />
            </div>
            <h5 class="name">Глотова Анастасия</h5>
            <p>Окончила бакалавриат МИИГАиК по направлению "Геодезия и дистанционное зондирование". Сферы интересов: методы инженерии знаний, компьютерное зрение, машинное обучение, фотограмметрия. </p>
            <p>Электронный адрес: anastasia.pavlovna.g@gmail.com</p>
          </div>
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static//img/ksusha.jpg" />
            </div>
            <h5 class="name">Горлова Ксения</h5>
            <p>Окончила бакалавриат на кафедре “Музеология и охрана памятников культурного и природного наследия”, СПбГУ. Занимаюсь цифровизацией и междисциплинарными исследованиями в музейном деле и археологии.</p>
            <p>Электронный адрес: kseniya.lokonceva@mail.ru</p>
        </div>
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static//img/712.jpg" />
            </div>
            <h5 class="name">Леванова Елена Сергеевна</h5>
            <p>Заведующий центром палеоискусства, кандидат исторических наук. Научные интересы: наскальное искусство, петроглифы, история доколумбовой Америки. Автор более 30 научных публикаций.</p>
            <p>Электронный адрес: maraveriza@gmail.com</p>
        </div>
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static//img/713.jpg" />
            </div>
            <h5 class="name">Свойский Юрий Михайлович</h5>
            <p>Заведующий лабораторией цифровой археологии Института классического Востока и античности НИУ ВШЭ, основатель и руководитель лаборатории RSSDA (Россия, Москва)</p>
            <p>Электронный адрес: rutil28@gmail.com</p>
        </div>
        <div class="row row-cols-4">
            <div class="feature icon align-items-center justify-content-center">
                <img class="icon" weigh="200px" height="200px" src="../static//img/714.jpg" />
            </div>
            <h5 class="name">Лебедев Павел Игоревич</h5>
            <p>Куратор группы, специалист по истории религии, мифологии, применению методов машинного обучения и обработки естественного языка в гуманитарных исследованиях.</p>
            <p>Электронный адрес: haafus@gmail.com</p>
        </div>
    </div>
    <!-- КОНТАКТЫ -->
    <div class="contacts text-center">
        {# <a class="navbar-brand" href="/">На главную</a> #}
        <p><a href="/">На главную</a></p>
        <p><a href="https://github.com/MarusyaS/petroglyphs">Наш Гитхаб</a></p>
        <!-- Ссылка на статью -->
        <p><a href="https://do.jes.su/issue.2022.3.9.1-2/">Наша статья</a></p>
        <p>Наша почта: marusya.sysoeva@gmail.com</p>
    </div>
{% endblock %}